{
	"i_might_play_more_than_50_matches_in_a_day": false,
	"credentials": {
		"platform": "google",
		"username": "user@gmail.com",
		"password": "password",
		"otp": "otp raw code"
	},
	"bhvrDomain": "https://stats.deadbydaylight.com/",
	"bhvrBackendDomain": "https://account-backend.bhvr.com/",
	"fetchIntervalMinutes": 8
}